@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body{
  min-height: 200px;
  padding-top: 50px;
  font-family: 'JetBrains Mono', monospace;
}

footer {
  background-color: #b48939;
}

.copyright-text {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(194, 183, 103, 0.2);
}
